

@font-face {
  font-family:"pencil";
  src: url("../font/pencil.ttf"); /* TTF file for CSS3 browsers */
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "pencil","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    display: hidden;
}

.col-fixed-405{
    width:405px;
    height:100%;
    margin: auto;
}

.col-fixed-10{
    width:20px;
    height:100%;
    margin: left;
}

.col-fixed-640{
    width:640px;
    height:100%;
    margin: auto;
}

.col-90{
    width:90%;
    height:100%;
    margin: auto;
}

.otoroLink {
    font-family: "Helvetica Neue", Arial;
    font-weight: 100;
    font-size: 1.0em;
    opacity: 0.5;
}

.btn {
    font-family: "pencil", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.00em;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.0em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

.floating-label-form-group-with-focus label {
    color: #f4b40d;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

.form-control-inline {
    min-width: 0;
    border: none;
    width: auto;
    display: inline;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: move;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  opacity: 0.4;
  marker-end: url(#end-arrow);
}

.label {
    fill: white;
    font-family: Verdana;
    font-size: 25px;
    text-anchor: middle;
    cursor: move;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 150;
    max-height: 150;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 110%;
    height: 110%;
    opacity: 0;
    background: rgba(255,255,255,.65); //rgba(50,150,220,.0);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 15px;
    margin-top: -12px;
    text-align: center;
    font-size: 1em;
    color: #000;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:300) {
    #portfolio .portfolio-item {
        margin: 0 0 15px;
    }
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
